.topBar{
	color: #fff;
	text-shadow: 0px 1px solid #000;
	background-color: #575354;
	padding: 5px;
	padding-left: 22px;
	font-weight: 300;
	width: 100%;
	font-family: verdana;
}

.contentArea{
	padding: 15px;
	padding-top: 30px;
	background-color: #fff;
	color: #333;
	display: inline-block;
	width: 100%;
	display: inline-block;
}

.profileImage{
	max-width: 100%;
	margin-right: 10px;
	margin-left: 50px;
	display: block;
	float: left;
}

.buttonArea{
	padding: 15px;
	float:right;
	margin-right: 1%;
	margin-top: 1%;
	width:225px;
	height: 100%;
}

.detailArea{
	padding: 15px;
	float: right;
	margin-right: 1.5%;
	margin-top: 1%;
	border-radius: 5px;
	border: 2px solid #6B1A36;
	height: 180px;
	width: 180px;
}

.buttonArea button {
    background-color: #6B1A36; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
}

.buttonArea button:hover{
	cursor: pointer;
}

.regForm input,textarea{
	margin-top: 0px;
	border: 0.01em solid #575354;
	color: black;
	padding: 5px;
	font-weight: 200;
	font-size: 0.9em;
	cursor: pointer;
	outline: none;
	text-align: left;
	margin-left: 5px;
}

.regForm input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  background-color: #575354;
}

.regForm{
	font-family: calibri;
	font-size: 1.11em;
}

.frm{
	padding: 25px;
	padding-right: 5px;
}


